{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>WineDB{% block title %} | Home{% endblock %}</title>

  <!-- External -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" >
  
  <!-- Self hosted -->
  <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
  {% block style %}{% endblock style %}
</head>
<body>

  <div class="fill-vertical">
    <!-- Navigation -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo">WineDB</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'wine-list' %}">Todos los Vinos</a></li>
          <li><a href="{% url 'find-wine' %}">Encuentra un Vino</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'wine-list' %}">Todos los Vinos</a></li>
          <li><a href="{% url 'find-wine' %}">Encuentra un Vino</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  
    <!-- Main Content -->
    {% block content %}
    {% endblock %}
  </div>
      
  <!-- Footer -->
  <footer class="page-footer burgundy">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">About Wine Database</h5>
          <p class="grey-text text-lighten-4">
            This project is part of the 2022 TFM by <i>Herman Dempere</i> and <i>Marc Garcia</i> in the scope of the Master's in <i>Fundamental Principles of Data Science</i> in the University of Barcelona.
          </p>
        </div>

        <div class="col l1 s12"></div>

        <div class="col l3 s12">
          <h5 class="white-text">Site Map</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Herman Dempere / Marc Garcia {% now 'Y' %}
      </div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.min.js" integrity="sha512-rCO3ZZnxh9j/Y725Iq2Cqr2lc9fi83zVeN3PFTUosktylZsCFjD13PDbKrzKjKO/idjM4KlMQC52AsoGFTAe6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <script src="https://use.fontawesome.com/releases/v6.1.2/js/all.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  <!-- <script src="https://use.fontawesome.com/releases/v6.1.2/js/v4-shims.js"></script> -->

  <!-- Own sources -->
  <script src="{% static 'web/js/init.js' %}"></script>
  <!-- <script src="{% static 'web/js/fontawesome-all.min.js' %}"></script> -->

  <!-- page specific scripts -->
  {% block scripts %}{% endblock scripts %}
</body>
</html>
