{% extends "web/base.html" %}
{% load static %}

{% block title %} | Home{% endblock title %}

{% block style %}
<style>
    .parallax-container{
        min-height: 240px;
    }
    .v-cloack{
      display:none !important;
    }
    dt{
      font-weight: bold;
      margin-top: 12px;
    }
    .button-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .button-flex > *{
        flex: 0 0 auto;
        margin: 5px 10px;
    }
    .button-flex .do-highrank{
      flex: 1 1 100%;
      height: 45px;
      line-height: 45px;
      margin-bottom: 15px;
      font-weight: bolder;
    }
    .button-flex .do-lowrank{
      flex: 1 1 auto;
    }

    #do-map{
      height: 360px;
    }

    .collection-item:hover{
      background-color: #fafafa;
    }

    li .btn-small{
      margin: 10px 0;
      margin-right: 20px;
    }

    li .row{
      margin-bottom: 0;
    }
</style>
{% endblock style %}

{% block content %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad">
      <div class="container">
        <h1 class="header center white-text">Encuentra el vino perfecto</h1>
        <div class="row center">
          <h5 class="header col s12 light">No sabes exactamente que vino estas buscando? Dejate guiar por nuestro analizador de gustos y encuentra nuevos vinos que no conocias.</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'web/background6.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container" id="app">
    <div class="section">

      <div class="row">
        <div class="col s12 center">

            <div class="card">
                <!-- Page 1 - Estilos -->
                <div class="card-content" key="page1" v-if="page == 'page1'">
                  <!-- Wine Type -->
                  <span class="card-title">Selecciona opcionalment el tipo de Vino:</span>
                  <br>
                  <div class="button-flex">
                    <template v-for="style in wineTypes" :key="style">
                        <a v-if="isSelected(style) || !isTypeSelected()"
                            @click="toggleStyle(style)"
                            class="waves-effect waves-light btn-small"
                            :class="{
                                'white': !isSelected(style),
                                'black-text': !isSelected(style),
                                'burgundy': isSelected(style)
                            }">[[ style ]]</a>
                        <a v-else
                            disabled
                            @click="toggleStyle(style)"
                            class="waves-effect waves-light btn-small"
                            :class="{
                                'white': !isSelected(style),
                                'black-text': !isSelected(style),
                                'burgundy': isSelected(style)
                            }">[[ style ]]</a>
                    </template>
                  </div>
                  <br>

                  <!-- Wine Styles -->
                  <span class="card-title">Selecciona los estilos que te vengan más de gusto:</span>
                  <br>
                  <div class="button-flex">
                    <template v-for="style in wineStyles" :key="style">
                        <a v-if="isSelected(style) || selected.length < maxStyles"
                            @click="toggleStyle(style)"
                            class="waves-effect waves-light btn-small"
                            :class="{
                                'white': !isSelected(style),
                                'black-text': !isSelected(style),
                                'burgundy': isSelected(style)
                            }">[[ style ]]</a>
                        <a v-else
                            disabled
                            @click="toggleStyle(style)"
                            class="waves-effect waves-light btn-small"
                            :class="{
                                'white': !isSelected(style),
                                'black-text': !isSelected(style),
                                'burgundy': isSelected(style)
                            }">[[ style ]]</a>
                    </template>
                  </div>
                </div>

                <!-- Page 2 - Denominacions -->
                <div class="card-content" key="page2" v-if="page == 'page2'">
                  <span class="card-title">Segun tus preferencias, te podemos recomendar las Denominaciones de Origen:</span>
                  <br>
                  <div class="button-flex" style="justify-content: center">
                    <span v-for="style in selected" readonly class="btn-flat btn-small grey lighten-3">[[style]]</span>
                  </div>
                  <br>
                  <div v-if="recomendedDOs != null">
                    <div class="button-flex" >
                      <a v-for="wineDO, i of recomendedDOs"
                        @click="selectedDO = wineDO"
                        :class="{
                        'do-highrank': i==0,
                        'do-lowrank': i!=0,
                        'burgundy': wineDO==selectedDO,
                        'xwhite': i!=0,
                        'black-text': wineDO!=selectedDO,
                      }" class="btn white">[[ wineDO.name ]]</a>
                    </div>
                    <br>
                    <div id="do-map"></div>
                    <br>
                  </div>

                  <div v-else class="center">
                    <br>
                    <a disabled class="btn">Loading...</a>
                    <br>
                    <br>
                  </div>
                </div>

                <!-- Page 3 - Variety and Final Recomendation -->
                <div class="card-content" key="page3" v-if="page == 'page3'">
                  <span class="card-title">Dentro de esta Denominacion de Origen, los vinos que más se ajustan a ti son:</span>
                  <br>
                  <div class="button-flex" style="justify-content: center">
                    <a class="btn-flat btn-small grey lighten-3">[[ selectedDO.name ]]</a>
                    <span v-for="style in selected" class="btn-flat btn-small grey lighten-3">[[ style ]]</span>
                  </div>
                  <br>
                  
                  <ul class="collection">

                    <li v-for="wine in recomendedWines" class="collection-item avatar">
                      <div class="row">

                        <div class="col m6">
                          <a :href="'{% url 'wine-detail-base' %}' + wine.id">
                            <img src="{% static 'web/wine-icon.png' %}" class="circle">
                            <b>[[ wine.name ]]</b>
                            <p>
                              [[ wine.zone ]] <br>
                              [[ wine.cellar_name ]]
                            </p>
                          </a>
                        </div>

                        <div class="col m6">
                          <span v-for="tag in wine.tags"
                            class="btn-flat btn-small white lighten-5"
                            :class="{'burgundy': isSelected(tag), 'white-text': isSelected(tag)}">[[tag]]</span>
                        </div>
                      </div>


                    </li>
  
                  </ul>
                </div>

                <div class="card-action" style="display:flex; justify-content:space-between">
                <a
                  v-if="page != 'page1'"
                  @click="prevPage(page)"
                  class="btn waves-effect waves-ligh burgundy"
                  >Volver</a>
                &nbsp; &nbsp;
                <a
                  v-if="page != 'page3'"
                  @click="nextPage(page)"
                  class="btn waves-effect waves-ligh burgundy"
                  :class="{'disabled': selected.length == 0}"
                  >Siguiente</a>
                </div>

              </div>


        </div>
      </div>

    </div>
  </div>


{% endblock content %}

{% block scripts %}

<script >

    const { createApp } = Vue

    // Leaflet Map


    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
            page: 'page1',
            maxStyles: 4,
            wineTypes: [
              'blanco',
              'tinto',
              'rosado',
              'espumoso',
            ],
            wineStyles:[
              'corpulento',
              'sabroso',
              'frutal',
              'equilibrado',
              'cítrico',
              'especiado',
              'suave',
              'herbal',
              'persistente',
              'floral',
              'fresco',
              'tostado',
              'correcto',
              'amargo',
              'aromático',
              'dulce',
              'notas de levadura',
              'oxidado',
              'silvestre',
              'balsámico',
              // 'con defectos',
              'taninos',
              'elegante',
              'con vejez',
              'cálido',
              'mineral',
              'tropical',
              'varietal',
              'clásico',
              'carnoso',
              'cremoso',
              'rústico',
            ],
            selected: [],
            recomendedDOs: null,
            selectedDO: null,
            recomendedWines: null,
        }
      },

      async mounted() {
        console.log(`VUE OK`)

        this.wineStyles = this.wineStyles.sort()
      },

      methods:{
        createMap(){
          console.log('createMap');

          var map = L.map('do-map',{
            center: [0,0],
            dragging: false,
            scrollWheelZoom: "center",
          }).setView([41.8,2], 7);
          // https://stamen-tiles-a.a.ssl.fastly.net/toner/8/130/94@2x.png
          var tiles = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}@2x.png', {
            minZoom: 7,
            maxZoom: 7,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);
        },

        toggleStyle(style){
            if(this.selected.indexOf(style) >= 0){
                this.style = this.selected.splice(this.selected.indexOf(style), 1)
            }else{
                this.selected = [...this.selected, style]
            }
        },

        isSelected(style){
            return this.selected.indexOf(style.toLowerCase()) >= 0
        },

        isTypeSelected(){
            for(type of this.wineTypes){
              if(this.selected.indexOf(type) >= 0) return true;
            }

            return false;
        },

        async prevPage(page){
          if(page == 'page2'){
            this.page = 'page1';
            this.recomendedDOs = null;
            this.selectedDO = null;
          }
          if(page == 'page3'){
            this.page = 'page2';
            setTimeout(() => this.createMap(), 100)
          }
        },

        async nextPage(page){
          if(page == 'page1'){
            this.page = 'page2';
            this.recomendedDOs = await this.getRecomendedDOs();
            setTimeout(() => this.createMap(), 100)
          }
          if(page == 'page2'){
            this.recomendedWines = await this.getRecomendedWines();
            this.page = 'page3';
          }
        },

        async getRecomendedDOs(){
          let data = await fetch(`{% url 'api-wine-ml-predictdo' %}?style=${this.selected.join(',')}`)
          let jsonData = await data.json()

          recomendedDOsList = []
          let show = 3

          for(wineDo in jsonData.response){
            recomendedDOsList = [
              ...recomendedDOsList,
              { 
                name: wineDo,
                score: jsonData.response[wineDo]
              }
            ]
            show--;
            if (show == 0) break;
          }

          return recomendedDOsList
        },

        async getRecomendedWines(){
          let data = await fetch(`{% url 'api-wine-ml-recommend-wines' %}?features=${this.selected.join(',')},${this.selectedDO.name}`)
          let wineResponse = await data.json()

          let similarWinesList = wineResponse.data.map(wine => {
            return {
              ...wine,
              tags: [wine.wine_type_simple, ...wine.style],
              similar_score: Math.round((wine.similar_score*100))}
          })

          similarWinesList = similarWinesList.sort((a,b) => b.similar_score - a.similar_score)

          return similarWinesList
        },

      }

    }).mount('#app')

    
</script>

{% endblock scripts %}
