{% extends "web/base.html" %}
{% load static %}

{% block title %} | Home{% endblock title %}

{% block content %}

  <div id="index-banner" class="parallax-container" style="min-height: auto">
    <div class="section">
      <div class="container">
        <h1 class="header center white-text">Explorador de Vinos de Catalunya</h1>
        <div class="row center">
          <h5 class="header col s12 light">Encuentra tu siguiente copa!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'web/background4.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center burgundy-text"><i class="fa-solid fa-wine-bottle"></i></h2>
            <h5 class="center">Encuentra tu vino perfecto</h5>
            <p class="">
              Si no sabes por donde empezar, prueba nuestro buscador de vinos a partir de tu tipo y estilo preferido.
            </p>
            <br>
            <div class="center">
              <a href="{% url 'find-wine' %}" class="btn waves-effect waves-light burgundy">Encuentra un Vino</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center burgundy-text"><i class="fa-solid fa-wine-glass"></i></i></h2>
            <h5 class="center">Ver todos los vinos</h5>
            <p class="">Si ya sabes que vino estas buscando. Vamos directamente a nuestro buscador de vinos para empezar.</p>
            <br>
            <div class="center">
              <a href="{% url 'wine-list' %}" class="btn waves-effect waves-light burgundy">Ir a la lista</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="parallax-container" style="min-height: 250px">
    <div class="section">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'web/background7.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Sobre este proyecto</h4>
          <br>
          <p class="justify-text">
            Everyone at some point has needed to buy a wine for an occasion and nowadays is really easy to feel overwhelmed by the insane number of choices and the lack of information when entering a cellar or walking through supermarket aisles.
            Choosing the right one without any recommendation from cellar owner often becomes a decision based only in the wine price and the wine label. 
            <br><br>
            Making a good recommendation is a hot topic in Data Science as it continues to present research challenges as well as strong practical benefits for many different areas (movies,music,restaurants,etc...).
            Furthermore, improving the recommendation presentation, helping users to understand, explore, and even control recommender systems has recently risen a lot attention.
          </p>
          <br>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container" style="min-height: 250px">
    <div class="section">
    </div>
    <div class="parallax"><img src="{% static 'web/background6.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

{% endblock content %}
