{% extends "web/base.html" %}
{% load static %}

{% block title %} | Wine List{% endblock title %}

{% block style %}
<style>
    .parallax-container{
        min-height:300px
    }
    .v-cloack{
      display:none !important;
    }
</style>
{% endblock style %}

{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section">

      <div class="container">
        <h1 class="header center white-text">Todos los Vinos</h1>
        <div class="row center">
          <h5 class="header col s12 light">Lista y busca todos los vinos que tenemos</h5>
        </div>
      </div>

    </div>
    <div class="parallax"><img src="{% static 'web/background8.jpg' %}"></div>
</div>

<div class="container" id="app">
    <div class="section" class="v-cloack">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">

              <div class="row">

                <div class="input-field col s12 m6">
                  <label for="search">Buscar por Nombre, DO, Bodega</label>
                  <input type="text" name="search" v-model="search" @keyup="searchWines">
                </div>

                <div class="input-field col s12 m6">
                  <select multiple name="search_types" v-model="searchTypes" @change="page = 1">
                    <option value="Tinto">Tinto</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Rosado">Rosado</option>
                    <option value="Espumoso">Espumoso</option>
                  </select>
                  <label for="search_types">Tipologias</label>
                </div>
              </div>

              <div class="center">
                <button @click="prevPage" :disabled="page == 1" class="btn burgundy">&lt;</button>
                &nbsp;&nbsp;
                <button disabled class="btn btn-flat">[[ page ]]</button>
                &nbsp;&nbsp;
                <button :disabled="nextLink == null" @click="nextPage" class="btn burgundy">&gt;</button>
              </div>
              <br>


              <table v-if="!noWinesFound" class="highlight">
                <thead>
                  <tr>
                      <th>Vino</th>
                      <th>Tipologia</th>
                      <th>Bodega</th>
                      <th>D.O.</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr v-for="wine in wines">
                    <td>
                      <a :href="'{% url 'wine-detail-base' %}' + wine.id">
                        [[ wine.name ]]
                      </a>
                    </td>
                    <td>[[ wine.wine_type_simple ]]</td>
                    <td>[[ wine.cellar_name ]]</td>
                    <td>[[ wine.zone ]]</td>
                  </tr>
                </tbody>
              </table>

              <div v-else class="center">
                <h4>Lo sentimos, no se han encontrado vinos con esa busqueda</h4>
              </div>

              <br>
              <br>

              <div class="center">
                <button @click="prevPage" :disabled="page == 1" class="btn burgundy">&lt;</button>
                &nbsp;&nbsp;
                <button disabled class="btn btn-flat">[[ page ]]</button>
                &nbsp;&nbsp;
                <button :disabled="nextLink == null" @click="nextPage" class="btn burgundy">&gt;</button>
              </div>
              <br>

            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script >

    const { createApp } = Vue

    const PAGESIZE = 20;
    const LOADING_WINES = new Array(PAGESIZE).fill({name:'Loading...'}).flat();

    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          // wine data
          allWines: [],
          // pagination
          pageSize: PAGESIZE,
          page: null,
          fetchedPage: null,
          nextLink: null,
          // search
          search: '',
          searchTypes: [],
        }
      },

      mounted() {
        console.log(`VUE OK`)
        $('select').formSelect();
        
        // Init pagination
        this.page = 1
        this.fetchedPage = 0

        // Create debounced method
        this.searchWines = _.debounce(async () => this._searchWines(), 350)
      },

      computed: {
        wines(){
          console.log("compute wine list")

          let maxWineIndex = this.page * this.pageSize - 1;
          let wineList = [...this.allWines];

          if (this.searchTypes.length > 0){
            wineList = wineList.filter(w => this.searchTypes.indexOf(w.wine_type_simple) >=0 )
          }

          if (wineList.length-1 < maxWineIndex && !this.isEndOfPagination()){
            this.fetchNextPage();
            return LOADING_WINES;
          }

          return wineList.slice((this.page-1)*this.pageSize, this.page*this.pageSize)
        },

        noWinesFound(){
          let filteredWinesEmpty = this.wines.length > 0 && this.wines[0].name == 'Loading...'
          let noWines = this.allWines.length == 0
          return this.nextLink == null && (filteredWinesEmpty || noWines)
        }
      },

      methods:{
          nextPage(){
            this.page += 1
            // this.fetchWines();
          },
          
          prevPage(){
            if(this.page <= 1) return;
            this.page -= 1
            // this.fetchWines();
          },

          async fetchNextPage(){
            let nextPageLink;
            let nextPage;
            if(!!this.search & !this.nextLink){
              return
            }
            if(!!this.nextLink){
              nextPageLink = this.nextLink
            }else{
              nextPage = this.fetchedPage+1;
              nextPageLink = `{% url 'api-wine-list' %}?page=${nextPage}`
            }
            
            var data = await fetch(nextPageLink)

            // Get the data and save to allWiens
            let wineResponse = await data.json()
            this.allWines = [...this.allWines, ...wineResponse.data]
            this.nextLink = wineResponse.next

            // Update last fetched page
            this.fetchedPage = nextPage
          },

          async _searchWines(){
            if(!!this.search){
              // If search term not empty, load first search page
              this.page = 1
              this.fetchedPage = 1
  
              let data = await fetch(`{% url 'api-wine-search' %}?q=${this.search}`)
              let wineResponse = await data.json()

              this.allWines = wineResponse.data
              this.nextLink = wineResponse.next
            
            }else{
              // If search term empty, reinit normal pagination
              this.page = 1
              this.fetchedPage = 0
              this.allWines = []
              this.fetchNextPage();
            }
          },
      
          isSearch(){
            return !!this.search;
          },

          isEndOfPagination(){
            return this.page == this.fetchedPage && this.nextLink == null;
          },
          
          isEndOfSearch(){
            return this.isSearch() && this.isEndOfPagination();
          },

      }

    }).mount('#app')

</script>

{% endblock scripts %}
