{% extends "web/base.html" %}
{% load static %}

{% block title %} | {{wine_id}}{% endblock title %}

{% block style %}
<style>
    .parallax-container{
        min-height:160px
    }
    dt{
      margin-top: 12px;
    }
    dd{
      font-weight: bold;
    }
    #do-map{
      height: 380px;
    }
    dd .btn-small{
      font-weight: normal;
      margin: 10px 0;
      margin-right: 20px;
    }
    .wine-icon{
      height: 360px;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    .current-wine{
      font-weight: bold;
    }
</style>
<link rel="stylesheet" href="{% static 'web/css/neo4jd3.min.css' %}">
{% endblock style %}

{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section">

    <div class="container">
    </div>

  </div>
  <div class="parallax"><img src="{% static 'web/background7.jpg' %}"></div>
</div>

<div class="container" id="app">
    <div class="section" v-cloak v-if="wine != null">

      <!--
      <div class="row">
        [[wine]]
      </div>
      -->

      <!-- Title Card -->
      <h1 class="center">
        [[ wine.name ]] <br>
        <small>——— [[wine.year]] ———</small>
      </h1>

      <!-- Wine card and DO map -->
      <div class="row">

        <!-- Wine card -->
        <div class="col m6 s12">
          <!-- Card -->
          <div class="card" id="wine-card">
            <div class="card-content">
              <span class="card-title">Carta del Vino</span>
              <div class="row" style="margin:0">
                <div class="col s6">
                  <dd>
                    <dt>Pais</dt>
                    <dd>[[wine.country]]</dd>
                    <dt>D.O.</dt>
                    <dd>[[wine.zone]]</dd>
                    <dt>Any</dt>
                    <dd>[[wine.year]]</dd>
                    <dt>Bodega</dt>
                    <dd>[[wine.cellar_name]]</dd>
                    <dt>Precio</dt>
                    <dd>[[wine.price]]€</dd>
                    <dt>Puntos Peñin&trade;</dt>
                    <dd>[[wine.penin_points]] /<small>100</small></dd>
                  </dd>
                </div>
                <div class="col s6">
                  <div class="wine-icon" :style="{'background-image': 'url('+wineIcon(wine)+')' }" :title="wine.wine_type"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Card -->
        </div>
        <!-- /Wine card -->

        <!-- DO Map -->
        <div class="col m6 s12">
          <div class="card">
            <div id="do-map" :style="{'height': wineCardHeight() }"></div>
          </div>
        </div>
        <!-- /DO Map -->

      </div>

      <h2 class="flow-text">Presentacion del Vino</h2>

      <div class="row">
        <div class="col s12">
          <dd>
            <dt>Tipologia</dt>
            <dd>
              <span class="btn-flat btn-small green lighten-5">[[wine.wine_type]]</span>
            <dt>Variedades</dt>
            <dd>
              <span v-for="el in wine.varieties" class="btn-flat btn-small green lighten-5">[[el]]</span>
            </dd>
            <dt>Estilo</dt>
            <dd>
              <span v-for="el in wine.style" class="btn-flat btn-small green lighten-5">[[el]]</span>
            </dd>
            <dt>Aroma / Color</dt>
            <dd>
              <span v-for="el in wine.smell" class="btn-flat btn-small green lighten-5">[[el]]</span>
              <span v-for="el in wine.color" class="btn-flat btn-small green lighten-5">[[el]]</span>
            </dd>
          </dd>
        </div>
      </div>



      <div class="row">
        <div class="col s12">

          <h2 class="flow-text">Otros vinos similares</h2>

          <div class="row">
            <div class="col s12">
              <div class="card">
                <div id="neo4jd3" class="neo4jd3" style="height:500px">
              </div>
              </div>
            </div>
            <div class="col s12">

              <div class="card" :key="similarWineSelected.id" v-if="similarWineSelected != null">
                <div class="card-content">
                  <span class="card-title flow-text">[[ similarWineSelected.name ]]</span>
                  <dd>
                    <dt>Pais</dt>
                    <dd>[[similarWineSelected.country]]</dd>
                    <dt>D.O.</dt>
                    <dd>[[similarWineSelected.zone]]</dd>
                    <dt>Any</dt>
                    <dd>[[similarWineSelected.year]]</dd>
                    <dt>Bodega</dt>
                    <dd>[[similarWineSelected.cellar_name]]</dd>
                    <dt>Precio</dt>
                    <dd>[[similarWineSelected.price]]€</dd>
                    <dt>Puntos Peñin&trade;</dt>
                    <dd>[[similarWineSelected.penin_points]] /<small>100</small></dd>
                  </dd>
                </div>
              </div>

            </div>
          </div>


        </div>

      </div>
        
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'web/js/d3.min.js' %}"></script>
<script src="{% static 'web/js/neo4jd3.js' %}"></script>

<script >
 
    const { createApp } = Vue

    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          wineId: '{{ wine_id }}',
          wine: null,
          wineList: null,
          similarWines: [],
          similarWineSelected: null,
          graph: null,
          graphNodeIds: [],
        }
      },

      async mounted() {
        console.log(`VUE OK`)
        this.wine = await this.fetchWine();
        this.similarWines = await this.fetchSimilarWines(this.wine);
        this.similarWineSelected = this.wine

        this.createRecommendedGraph();
        this.createMap();
      },

      methods:{
          async fetchWine(){
            var data = await fetch(`{% url 'api-wine-detail-base' %}${this.wineId}/`)
            let wineResponse = await data.json()
            
            return wineResponse.data
          },

          async fetchSimilarWines(wine){
            let data = await fetch(`{% url 'api-wine-ml-base' %}${wine.id}/similar/`)
            let wineResponse = await data.json()

            let similarWinesList = wineResponse.data.map(wine => {
              return {
                ...wine,
                similar_score: Math.round((wine.similar_score*100))}
            })

            similarWinesList = similarWinesList.sort((a,b) => b.similar_score - a.similar_score)

            return similarWinesList.slice(0, 5)
          },

          createMap(){
            console.log('createMap');
  
            var map = L.map('do-map',{
              center: [0,0],
              dragging: false,
              scrollWheelZoom: "center",
            }).setView([41.7,1.92], 7);
            // https://stamen-tiles-a.a.ssl.fastly.net/toner/8/130/94@2x.png
            var tiles = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}@2x.png', {
              minZoom: 7,
              maxZoom: 7,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
          },

          createRecommendedGraph(){
            let _vue = this

            this.graph = new Neo4jd3('#neo4jd3', {
              infoPanel: false,
              highlight: [
                {
                  property: 'current',
                  value : true,
                }
              ],
              // arrowSize: 4,
              // icons: this.getGraphIcons(),
              images: (n => this.wineIcon(n.properties.data)),
              minCollision: 120,
              neo4jData: this.createGraphData(this.wine, this.similarWines),
              //neo4jDataUrl: "{% static 'web/js/example.json' %}",
              nodeRadius: 40,
              nodeOutlineColor: 'rgba(128, 0, 32, 0)',
              nodeOutlineFillColor: 'rgba(128, 0, 32, 0)',
              zoomFit: false,
              onNodeClick(node) {
                _vue.expandGraphNode(node)
              },
              onNodeDoubleClick(node){},
              onNodeMouseEnter(node){
                _vue.similarWineSelected = node.properties.data
              },
              onNodeMouseLeave(node){},
              onRelationshipDoubleClick(relationship){},
            });
          },

          createGraphData(centerWine, otherWines, centerNode={}){
            // exclude wines already used
            otherWines = otherWines.filter(w => this.graphNodeIds.indexOf(w.id) == -1)
            
            // Node for similar wines
            let nodes = otherWines
              .map(w => ({
                id: w.id,
                labels: [w.id],
                properties: {data: w},
                x: centerNode.x,
                y: centerNode.y
              }))

            // Append center wine node
            if(this.graphNodeIds.indexOf(centerWine.id) == -1){
              nodes = [
                {
                  id: centerWine.id,
                  labels: [centerWine.id],
                  properties: {current: true, data: centerWine}
                },
                ...nodes
              ]
            }

            // Create node rels for all wines
            let relationships = otherWines
              .map(w => ({
                id: Math.floor(Math.random()*10000),
                type: this.getCommonAttrs(w, centerWine, 1),
                startNode: centerWine.id,
                endNode: w.id,
                properties: {}
            }))

            // Construct final Neo4J data arrangement
            let neo4jdata = {
              results: [{
                data: [{graph: { nodes, relationships }}]
              }]
            }

            nodes.forEach(node => this.graphNodeIds = [...this.graphNodeIds, node.id])
            return neo4jdata;
          },

          async expandGraphNode(node){
            let wineData = node.properties.data
            let similarWines = (await this.fetchSimilarWines(wineData)).slice(0,3)
            let newData = this.createGraphData(wineData, similarWines, node)
            this.graph.updateWithNeo4jData(newData)
          },

          getGraphIcons(){
            let graphIcons = {}
            let wineIcon = 'f72f'

            graphIcons[this.wine.id] = wineIcon
            this.similarWines.forEach( w => {
              graphIcons[w.id] = wineIcon
            })

            return graphIcons
          },

          getCommonAttrs(a, b, limit=99){
            let common = [];
            let aStyles = [...a.style, ...a.mouth, ...a.color, ...a.smell]
            let bStyles = [...b.style, ...b.mouth, ...b.color, ...b.smell]

            let matches = 1;
            for(aS of aStyles){
              if (bStyles.indexOf(aS) >= 0){
                common = [...common, aS];
                if (matches++ >= limit) break;
              }
            }

            return common.join(', ')
          },

          wineIcon(wine){
              console.log('wineicon')
              console.log(JSON.stringify(wine))
              if (wine.wine_type_simple == 'tinto') return "{% static 'web/tinto.png' %}";
              if (wine.wine_type_simple == 'blanco') return "{% static 'web/blanco.png' %}";
              if (wine.wine_type_simple == 'espumoso') return "{% static 'web/espumoso.png' %}";
              if (wine.wine_type_simple == 'rosado') return "{% static 'web/rosado.png' %}";

              return "{% static 'web/tinto.png' %}";
          },

          wineCardHeight(){
            let el = document.getElementById('wine-card');
            if(el == null) return '380px'
            return el.clientHeight + 'px';
          }
      },

    }).mount('#app')

</script>

{% endblock scripts %}
