{% extends "web/base.html" %}
{% load static %}

{% block title %} | Wine List{% endblock title %}

{% block style %}
<style>
    .parallax-container{
        min-height:300px
    }
    .v-cloack{
      display:none !important;
    }
</style>
{% endblock style %}

{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section">

      <div class="container">
        <h1 class="header center white-text">All Wines</h1>
        <div class="row center">
          <h5 class="header col s12 light">List of all wines here</h5>
        </div>
      </div>

    </div>
    <div class="parallax"><img src="{% static 'web/background8.jpg' %}"></div>
</div>

<div class="container" id="app">
    <div class="section" class="v-cloack">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">

              <div class="row">
                <div class="col s12 m6">
                </div>
                <div class="col s12 m6">
                  <label for="search">Search Wine</label>
                  <input type="text" name="search" v-model="search" @blur="searchWines">
                </div>
              </div>


                  <table class="highlight">
                    <thead>
                      <tr>
                          <th>Nom</th>
                          <th>Tipologia</th>
                          <th>D.O.</th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr v-for="wine in wines">
                        <td>
                          <a :href="'{% url 'wine-detail-base' %}' + wine.id">
                            [[ wine.name ]]
                          </a>
                        </td>
                        <td>[[ wine.wine_type_simple ]]</td>
                        <td>[[ wine.zone ]]</td>
                      </tr>
                    </tbody>
                  </table>

                  <br>
                  <br>

                  <div class="center">
                    <button @click="prevPage" :disabled="page == 1" class="btn burgundy">&lt;</button>
                    &nbsp;&nbsp;
                    <button disabled class="btn btn-flat">[[ page ]]</button>
                    &nbsp;&nbsp;
                    <button :disabled="nextLink == null" @click="nextPage" class="btn burgundy">&gt;</button>
                  </div>

                  <br>



            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script >

    const { createApp } = Vue

    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          search: '',
          allWines: [],
          start: 0,
          end: 15,
          page: 1,
          nextLink: null,
        }
      },

      mounted() {
        console.log(`VUE OK`)
        this.fetchWines();
      },

      computed: {
        wines(){
          // let wineList = this.allWines;
          // if(this.search.length != 0){
          //   wineList = wineList.filter(w => w.nombre.toLowerCase().indexOf(this.search.toLowerCase()) >= 0)
          // }
          // return wineList.slice(this.start, this.end)

          return this.allWines
        }
      },

      methods:{
          nextPage(){
            this.page += 1
            this.fetchWines();
          },
          
          prevPage(){
            if(this.page <= 1) return;
            this.page -= 1
            this.fetchWines();
          },

          async fetchWines(){
              if(!!this.search){
                var data = await fetch(this.nextLink)
              }else{
                var data = await fetch(`{% url 'api-wine-list' %}?page=${this.page}`)
              }

              let wineResponse = await data.json()
              
              this.allWines = wineResponse.data
              this.nextLink = wineResponse.next
          },

          async searchWines(){
            this.page = 1
            
            var data = await fetch(`{% url 'api-wine-search' %}?q=${this.search}`)
            let wineResponse = await data.json()

            this.allWines = wineResponse.data
            this.nextLink = wineResponse.next
          }
      }

    }).mount('#app')

</script>

{% endblock scripts %}
