{% extends "web/base.html" %}
{% load static %}

{% block title %} | {{wine_id}}{% endblock title %}

{% block style %}
<style>
    .parallax-container{
        min-height:160px
    }
    .v-cloack{
      display:none !important;
    }
    dt{
      margin-top: 12px;
    }
    dd{
      font-weight: bold;
    }
    #do-map{
      height: 380px;
    }
    dd .btn-small{
      font-weight: normal;
      margin: 10px 0;
      margin-right: 20px;
    }
    .wine-icon{
      height: 360px;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
</style>
{% endblock style %}

{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section">

    <div class="container">
    </div>

  </div>
  <div class="parallax"><img src="{% static 'web/background7.jpg' %}"></div>
</div>

<div class="container" id="app">
    <div class="section" class="v-cloack" v-if="wine">

      <!--
      <div class="row">
        [[wine]]
      </div>
      -->

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">

              <h1 class="center">
                [[ wine.name ]] <br>
                <small>——— [[wine.year]] ———</small>
              </h1>

              <div class="row">

                <!-- Left Col -->
                <div class="col m6 s12">
                  <!-- Card -->
                  <div class="card" id="wine-card">
                    <div class="card-content">
                      <span class="card-title">Carta del Vino</span>
                      <div class="row" style="margin:0">
                        <div class="col s6">
                          <dd>
                            <dt>Pais</dt>
                            <dd>[[wine.country]]</dd>
                            <dt>D.O.</dt>
                            <dd>[[wine.zone]]</dd>
                            <dt>Any</dt>
                            <dd>[[wine.year]]</dd>
                            <dt>Bodega</dt>
                            <dd>[[wine.cellar_name]]</dd>
                            <dt>Precio</dt>
                            <dd>[[wine.price]]€</dd>
                            <dt>Puntos Peñin&trade;</dt>
                            <dd>[[wine.penin_points]] /<small>100</small></dd>
                          </dd>
                        </div>
                        <div class="col s6">
                          <div class="wine-icon" :style="{'background-image': 'url('+wineIcon(wine)+')' }" :title="wine.wine_type"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Card -->
                </div>
                <!-- /Left Col -->

                <!-- Right Col -->
                <div class="col m6 s12">
                  <div class="card">
                    <div id="do-map" :style="{'height': wineCardHeight() }"></div>
                  </div>
                </div>
                <!-- /Right Col -->

              </div>


              <h2 class="flow-text">Presentacion del Vino</h2>

              <div class="row">
                <div class="col s12">
                  <dd>
                    <dt>Tipologia</dt>
                    <dd>
                      <span class="btn-flat btn-small green lighten-5">[[wine.wine_type]]</span>
                    <dt>Variedades</dt>
                    <dd>
                      <span v-for="el in wine.varieties" class="btn-flat btn-small green lighten-5">[[el]]</span>
                    </dd>
                    <dt>Estilo</dt>
                    <dd>
                      <span v-for="el in wine.style" class="btn-flat btn-small green lighten-5">[[el]]</span>
                      <span v-for="el in wine.smell" class="btn-flat btn-small green lighten-5">[[el]]</span>
                      <span v-for="el in wine.mouth" class="btn-flat btn-small green lighten-5">[[el]]</span>
                      <span v-for="el in wine.color" class="btn-flat btn-small green lighten-5">[[el]]</span>
                    </dd>
                  </dd>
                </div>
              </div>

              <h2 class="flow-text">Otros vinos similares</h2>

              <table class="highlight">
                <thead>
                  <tr>
                      <th></th>
                      <th>Vino</th>
                      <th>DO / Bodega</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr v-for="wine, i in similarWines">
                    <td>
                      <b>[[ wine.similar_score ]]%</b>
                    </td>
                    <td>
                      <a :href="'{% url 'wine-detail-base' %}' + wine.id">
                        [[ wine.name ]] - [[ wine.year ]]
                      </a><br>
                      [[ wine.wine_type ]]
                    </td>
                    <td>
                      [[ wine.zone ]]<br>
                      [[ wine.cellar_name ]]
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script >
 
    const { createApp } = Vue

    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          wineId: '{{ wine_id }}',
          wine: null,
          wineList: null,
          similarWines: [],
        }
      },

      async mounted() {
        console.log(`VUE OK`)
        await this.fetchWine();
        await this.fetchSimilarWines();
        this.createMap();
      },

      methods:{
          async fetchWine(){
            var data = await fetch(`{% url 'api-wine-detail-base' %}${this.wineId}/`)
            let wineResponse = await data.json()
            
            this.wine = wineResponse.data
          },

          async fetchSimilarWines(){
            let data = await fetch(`{% url 'api-wine-ml-base' %}${this.wineId}/similar/`)
            let wineResponse = await data.json()

            let similarWinesList = wineResponse.data.map(wine => {
              return {
                ...wine,
                similar_score: Math.round((wine.similar_score*100))}
            })

            similarWinesList = similarWinesList.sort((a,b) => b.similar_score - a.similar_score)

            this.similarWines = similarWinesList
          },

          createMap(){
            console.log('createMap');
  
            var map = L.map('do-map',{
              center: [0,0],
              dragging: false,
              scrollWheelZoom: "center",
            }).setView([41.7,1.92], 7);
            // https://stamen-tiles-a.a.ssl.fastly.net/toner/8/130/94@2x.png
            var tiles = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}@2x.png', {
              minZoom: 7,
              maxZoom: 7,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
          },

          wineIcon(wine){
              if (wine.wine_type_simple == 'tinto') return "{% static 'web/tinto.png' %}";
              if (wine.wine_type_simple == 'blanco') return "{% static 'web/blanco.png' %}";
              if (wine.wine_type_simple == 'espumoso') return "{% static 'web/espumoso.png' %}";
              if (wine.wine_type_simple == 'rosado') return "{% static 'web/rosado.png' %}";

              return "{% static 'web/tinto.png' %}";
          },

          wineCardHeight(){
            let el = document.getElementById('wine-card');
            if(el == null) return '380px'
            return el.clientHeight + 'px';
          }
      },


    }).mount('#app')

</script>

{% endblock scripts %}
