{% extends "web/base.html" %}
{% load static %}

{% block title %} | {{wine_id}}{% endblock title %}

{% block style %}
<style>
    .title-bar{
      height: 45px;
      margin: 0 20%;
      border: 0;
      border-bottom: 3px solid black;
      margin-bottom: 40px;
    }
    .small-title{
      background-color: white;
      padding: 0 20px;
    }

    .parallax-container{
        min-height:160px
    }
    dt{
      margin-top: 12px;
    }
    dd{
      font-weight: bold;
    }
    #do-map{
      height: 380px;
    }
    dd .btn-small{
      font-weight: normal;
      margin: 10px 0;
      margin-right: 20px;
    }
    .wine-icon{
      height: 360px;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
    .wine-icon.small{
      height: 240px;
      width: 200px;
      margin: auto;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .current-wine{
      font-weight: bold;
    }

    .hover-info{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 33%;
      /* min-width: 300px; */
      height: 100%;
      margin: 0px;

      border-left: 1.5px solid lightgray;
      background-color: rgba(255,255,255,0.65);
      overflow-y: auto;
      overflow-x: hidden;
    }
</style>
<link rel="stylesheet" href="{% static 'web/css/neo4jd3.min.css' %}">
{% endblock style %}

{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section">

    <div class="container">
    </div>

  </div>
  <div class="parallax"><img src="{% static 'web/background7.jpg' %}"></div>
</div>

<div class="container" id="app">
    <div class="section" v-cloak v-if="wine != null">

      <!-- Title -->
      <h1 class="center">
        [[ wine.name ]] <br>
        <div class="title-bar center">
          <small class="small-title">[[wine.year]]</small>
        </div>
      </h1>

      <!-- Wine card and DO map -->

      <div class="row">

        <!-- Wine card -->
        <div class="col m6 s12">
          <!-- Card -->
          <div class="card" id="wine-card">
            <div class="card-content">
              <span class="card-title">Carta del Vino</span>
              <div class="row" style="margin:0">
                <div class="col s6">
                  <dd>
                    <dt>Pais</dt>
                    <dd>[[wine.country]]</dd>
                    <dt>D.O.</dt>
                    <dd>[[wine.zone]]</dd>
                    <dt>Any</dt>
                    <dd>[[wine.year]]</dd>
                    <dt>Bodega</dt>
                    <dd>[[wine.cellar_name]]</dd>
                    <dt>Precio</dt>
                    <dd>[[wine.price]]€</dd>
                    <dt>Puntos Peñin&trade;</dt>
                    <dd>[[wine.penin_points]] /<small>100</small></dd>
                  </dd>
                </div>
                <div class="col s6">
                  <div class="wine-icon" :style="{'background-image': 'url('+wineIcon(wine)+')' }" :title="wine.wine_type"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Card -->
        </div>
        <!-- /Wine card -->

        <!-- DO Map -->
        <div class="col m6 s12">
          <div class="card">
            <div id="do-map" :style="{'height': wineCardHeight() }"></div>
          </div>
        </div>
        <!-- /DO Map -->

      </div>

      <!-- Wine Attributes -->

      <div class="row">
        <div class="col s12">

          <div class="card">
            <div class="card-content">
              <span class="card-title">Aspectos del Vino</span>

                <div class="row">
                  <div class="col m6 s12">
                  <dl>
                    <dt>Tipologia</dt>
                    <dd>
                      <span class="btn-flat btn-small green grey lighten-3">[[wine.wine_type]]</span>
                    <dt>Variedades</dt>
                    <dd>
                      <span v-for="el in wine.varieties" class="btn-flat btn-small grey lighten-3">[[el]]</span>
                    </dd>
                    <dt>Estilo</dt>
                    <dd>
                      <span v-for="el in wine.style" class="btn-flat btn-small grey lighten-3">[[el]]</span>
                    </dd>
                    <div v-if="wine.smell.length>0 || wine.color.length>0">
                      <dt>Aroma / Color</dt>
                      <dd>
                        <span v-for="el in wine.smell" class="btn-flat btn-small grey lighten-3">[[el]]</span>
                        <span v-for="el in wine.color" class="btn-flat btn-small grey lighten-3">[[el]]</span>
                      </dd>
                    </div>
                  </dl>
                </div>

              
                <div class="col m6 s12">
                  <div id="currentRadar" style="position: relative; top: -40px; height: 340px"></div>
                </div>

              </div>
            </div>
          </div> <!-- /card -->

        </div>
      </div>

      <!-- Recomender Graph -->

      <div class="row">
        <div class="col s12">

          <div class="card">

            <span class="card-title" style="position: absolute; left:24px; top:24px"> Explora vinos similares</span>

            <Transition name="fade">
              <div v-if="hoverWine != null | showHoverInfo || stickHoverInfo" :key="hoverWine.id" class="hover-info">
                <div class="card-content">
                  <span class="card-title flow-text">[[ hoverWine.name ]]</span>
                  <dl>
                    <dt>Tipologia</dt>
                    <dd>[[hoverWine.wine_type]]</dd>
                    <dt>D.O.</dt>
                    <dd>[[hoverWine.zone]]</dd>
                    <dt v-if="hoverWine.cellar_name">Bodega</dt>
                    <dd v-if="hoverWine.cellar_name">[[hoverWine.cellar_name]]</dd>
                    <dt v-if="hoverWine.price">Precio</dt>
                    <dd v-if="hoverWine.price">[[hoverWine.price]]€</dd>
                    <dt>Estilo</dt>
                    <dd>
                      <span v-for="el in hoverWine.style" class="btn-flat btn-small grey lighten-3">[[el]]</span>
                    </dd>
                  </dl>

                  <br>
                  <div v-if="hoverWine.id != wine.id" class="center" style="width: 100%; position: absolute; bottom: 28px; left: 0px;">
                    <a class="btn-flat btn burgundy white-text" :href="'{% url 'wine-detail-base' %}' + hoverWine.id" target="_blank">
                      Abrir carta del Vino
                    </a>
                  </div>
                </div>
              </div>
            </Transition>

            <div id="neo4jd3" class="neo4jd3" style="height:600px"></div>

          </div>
        </div>
      </div>

      <!-- Recomender Listings -->

      <div class="row">
        <div class="col s12">
          <Transition name="fade">
            <div class="card" :key="expandedWine.id" v-if="expandedWine != null">
              <div class="card-content">
  
                <h4 style="margin: 0;">
                  Vinos similares a "[[ expandedWine.name ]]"
                </h4>
                <br>
  
                <div v-for="wine in expandedWineRecomended">
                  <span class="card-title">[[ wine.name ]]</span>
                  <div class="row">
                    <div class="col m4 s6">
                      <dl>
                        <dt>Tipologia</dt>
                        <dd>[[wine.wine_type]]</dd>
                        <dt>D.O.</dt>
                        <dd>[[wine.zone]]</dd>
                        <dt v-if="wine.cellar_name">Bodega</dt>
                        <dd v-if="wine.cellar_name">[[wine.cellar_name]]</dd>
                        <dt v-if="wine.price">Precio</dt>
                        <dd v-if="wine.price">[[wine.price]]€</dd>
                      </dl>
                      <div class="center">
                        <a class="btn-flat btn burgundy white-text" :href="'{% url 'wine-detail-base' %}' + wine.id" target="_blank">
                          Abrir carta del Vino
                        </a>
                      </div>
                    </div>
                    <div class="col m3 s6">
                      <div class="wine-icon small" :style="{'background-image': 'url('+wineIcon(wine)+')' }" :title="wine.wine_type"></div>
                    </div>
                    <div class="col m5 s12">
                      <div :id="'radar-compare-'+wine.id"
                        style="position: relative; top:-60px; height:250px;"></div>
                    </div>
                  </div>
  
                  <hr style="margin: 20px -25px; border: 0; border-bottom: 1px solid lightgrey">
                </div>
  
              </div>
            </div>
          </Transition>
        </div>
      </div>

    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'web/js/d3.min.js' %}"></script>
<script src="{% static 'web/js/neo4jd3.js' %}"></script>

<script >

    const RADAR_AXII = ["Equilibrado","Frutal","Potente","Citrico","Sabroso"]
 
    const { createApp } = Vue

    createApp({
      delimiters: ['[[', ']]'],

      data() {
        return {
          wineId: '{{ wine_id }}',
          wine: null,
          wineList: null,
          similarWines: [],
          similarWineSelected: null,
          graph: null,
          graphNodeIds: [],
          hoverWine: null,
          stickHoverInfo: false,
          showHoverInfo: false,
          expandedWine: null,
          expandedWineRecomended: []
        }
      },

      async mounted() {
        console.log(`VUE OK`)
        this.wine = await this.fetchWine();
        this.similarWines = await this.fetchSimilarWines(this.wine);
        this.similarWineSelected = this.wine

        this.createRecommendedGraph();
        this.createMap();
        this.setExpandedWineAndRecs(this.wine, this.similarWines);

        this.createWineRadarplot('currentRadar', this.wine);
      },

      methods:{
          async fetchWine(){
            var data = await fetch(`{% url 'api-wine-detail-base' %}${this.wineId}/`)
            let wineResponse = await data.json()
            
            return wineResponse.data
          },

          async fetchSimilarWines(wine){
            let data = await fetch(`{% url 'api-wine-ml-base' %}${wine.id}/similar/`)
            let wineResponse = await data.json()

            let similarWinesList = wineResponse.data.map(wine => {
              return {
                ...wine,
                similar_score: Math.round((wine.similar_score*100))}
            })

            similarWinesList = similarWinesList.sort((a,b) => b.similar_score - a.similar_score)

            return similarWinesList.slice(0, 5)
          },

          createMap(){
            var map = L.map('do-map',{
              center: [0,0],
              dragging: false,
              scrollWheelZoom: "center",
            }).setView([41.7,1.92], 7);
            // https://stamen-tiles-a.a.ssl.fastly.net/toner/8/130/94@2x.png
            var tiles = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}@2x.png', {
              minZoom: 7,
              maxZoom: 7,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
          },

          createRecommendedGraph(){
            let _vue = this

            this.graph = new Neo4jd3('#neo4jd3', {
              infoPanel: false,
              highlight: [
                {
                  property: 'current',
                  value : true,
                }
              ],
              // arrowSize: 4,
              // icons: this.getGraphIcons(),
              images: (n => this.wineIcon(n.properties.data)),
              minCollision: 120,
              neo4jData: this.createGraphData(this.wine, this.similarWines),
              //neo4jDataUrl: "{% static 'web/js/example.json' %}",
              nodeRadius: 40,
              nodeOutlineColor: 'rgba(128, 0, 32, 0)',
              nodeOutlineFillColor: 'rgba(128, 0, 32, 0)',
              zoomFit: false,
              onNodeDoubleClick(node){},
              onNodeClick: this.clickWineNode,
              onNodeMouseEnter: this.hoverWineNodeEnter,
              onNodeMouseLeave: this.hoverWineNodeExit,
              onRelationshipDoubleClick(relationship){},
            });
          },

          setExpandedWineAndRecs(wine, recWines){
            this.expandedWine = wine;
            this.expandedWineRecomended = recWines;
            setTimeout(() =>{
              for(rw of recWines){
                this.createWineRadarplot(`radar-compare-${rw.id}`, rw, wine, 330)
              }
            }, 300)
          },

          createGraphData(centerWine, otherWines, centerNode={}){
            // exclude wines already used
            otherWines = otherWines.filter(w => this.graphNodeIds.indexOf(w.id) == -1)
            
            // Node for similar wines
            let nodes = otherWines
              .map(w => ({
                id: w.id,
                labels: [w.id],
                properties: {data: w},
                x: centerNode.x,
                y: centerNode.y
              }))

            // Append center wine node
            if(this.graphNodeIds.indexOf(centerWine.id) == -1){
              nodes = [
                {
                  id: centerWine.id,
                  labels: [centerWine.id],
                  properties: {current: true, data: centerWine}
                },
                ...nodes
              ]
            }

            // Create node rels for all wines
            let relationships = otherWines
              .map(w => ({
                id: Math.floor(Math.random()*10000),
                type: this.getRelationStyle(centerWine, w, 1),
                startNode: centerWine.id,
                endNode: w.id,
                properties: {}
            }))

            // Construct final Neo4J data arrangement
            let neo4jdata = {
              results: [{
                data: [{graph: { nodes, relationships }}]
              }]
            }

            nodes.forEach(node => this.graphNodeIds = [...this.graphNodeIds, node.id])
            return neo4jdata;
          },

          async expandGraphNode(node){
            let wineData = node.properties.data
            let similarWines = (await this.fetchSimilarWines(wineData)).slice(0,3)
            let newData = this.createGraphData(wineData, similarWines, node)
            this.graph.updateWithNeo4jData(newData)

            this.setExpandedWineAndRecs(wineData, similarWines);
          },

          clickWineNode(node) {
            this.expandGraphNode(node)
            this.similarWineSelected = node.properties.data
            this.stickHoverInfo = true
          },

          hoverWineNodeEnter(node){
            this.showHoverInfo = true
            // this.stickHoverInfo = false
            this.hoverWine = node.properties.data
          },

          hoverWineNodeExit(){
            this.showHoverInfo = false
          },

          getGraphIcons(){
            let graphIcons = {}
            let wineIcon = 'f72f'

            graphIcons[this.wine.id] = wineIcon
            this.similarWines.forEach( w => {
              graphIcons[w.id] = wineIcon
            })

            return graphIcons
          },

          getRelationStyle(a, b, limit=99){
            let common = [];
            let aStyles = [...a.style, ...a.color, ...a.smell]
            let bStyles = [...b.style, ...b.color, ...b.smell]

            // Find styles that B has that A doesn't
            for(bS of bStyles){
              if (aStyles.indexOf(bS) == -1){
                return bS;
              }
            }

            // Find common ground betwen A and B
            for(aS of aStyles){
              if (bStyles.indexOf(aS) >= 0){
                common = [...common, aS];
                if (common.length >= limit) break;
              }
            }

            return common.join(', ')
          },

          createWineRadarplot(selector, wine, compared=null, height=425){
            data = []

            if(!!compared){
              data.push({
                type: 'scatterpolar',
                r: compared.axii.split(',').map(parseFloat),
                theta: RADAR_AXII,
                fill: 'toself',
                marker: {
                  color: '#AAA'
                },
                name: compared.name
              })
            }

            data.push({
              type: 'scatterpolar',
              r: wine.axii.split(',').map(parseFloat),
              theta: RADAR_AXII,
              fill: 'toself',
              marker: {
                color: 'rgb(128, 0, 32)'
              },
              name: wine.name
            })

            
            layout = {
              showlegend: false,
              autosize: true,
              height: height,
              title: 'Atributos AXII',
              polar: {radialaxis: {visible: false,
                // range: [0, 1]
              }},
            }

            config = {
              staticPlot: false,
              displayModeBar: false,
              responsive: false
            }
            
            Plotly.newPlot(selector, data, layout, config)
          },

          wineIcon(wine){
            let wt = wine.wine_type_simple.toLowerCase()
            
            if (wt == 'tinto') return "{% static 'web/tinto.png' %}";
            if (wt == 'blanco') return "{% static 'web/blanco.png' %}";
            if (wt == 'espumoso') return "{% static 'web/espumoso.png' %}";
            if (wt == 'rosado') return "{% static 'web/rosado.png' %}";

            return "{% static 'web/tinto.png' %}";
          },

          wineCardHeight(){
            let el = document.getElementById('wine-card');
            if(el == null) return '380px'
            return el.clientHeight + 'px';
          }
      },

    }).mount('#app')

</script>

{% endblock scripts %}
